[submodule "Libretrosnes9x/snes9x"]
	path = Libretrosnes9x/snes9x
	url = https://github.com/libretro/snes9x.git
[submodule "ArcadiaSNESCore/snes9x"]
	path = ArcadiaSNESCore/snes9x
	url = https://github.com/libretro/snes9x.git
